html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}


.navbar ul{
    list-style-type: none;
    background-color: rgb(118, 118, 118);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
  }
  
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color: rgb(99, 98, 98);
  }
  .navbar li{
    float: left;
  }

  main {
    /* margin-top: 10vh; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Skin display styling */
.skinDisplay {
    width: 100%;
    height: 100%;
    background-color: #252525;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.searchBar {
    width: 24%;
    padding-left: 1%;
    height: fit-content;
    /* position: absolute; */
    left: 0%;
    /* top: 1%; */
    display: flex;
}

.searchBar input {
    width: 100%;
    padding: 3%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    /* height: 100%; */
    background-color: #ffffff1a;
}
.skinGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    gap: 1vw;
    width: 99%;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-left: .5%;
    flex-grow: 1;
    position: absolute;
    top: 17%;
}
.weapon-skin {
    width: 100%; /* Ensure it takes the full width of the grid cell */
    aspect-ratio: 1.96; /* Ensures the div remains square */
    display: flex; /* Center the content */
    flex-direction: column; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a; /* Optional: Add a background color for clarity */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for a polished look */
    position: relative;
    transition: box-shadow 0.3s ease; /* Smooth transition for the box-shadow on hover */
}



.skinName {
    /* text-align: center; */
    font-size: 100%;
    color: #fff;
    position: absolute;
    bottom: 0%;
    left: .5vw;
    width: 100%;
    z-index: 2;
}
.weapon-skin img{
    max-width: 90%;
    width: auto;
    height: auto;
}
.sortDrop {
    position: absolute;
    right: 16%;
    bottom: 89.5%;
}

.skinGrid::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
/* ghost */
#skin_1baa85b4-4c70-1284-64bb-6481dfc3bb4e {
    max-height: 46%;
}
/* classic */
#skin_29a0cfab-485b-f5d5-779a-b59f85e204a8 {
    max-height: 56% !important;
}
/* frenzy */
#skin_44d4e95c-4157-0037-81b2-17841bf2e8e3 {
   width: 46%;
}
/* knife */
#skin_2f59173c-4bed-b6c3-2191-dea9b58be9c7 {
    height: 53% !important;
}
/* shorty */
#skin_42da8ccc-40d5-affc-beec-15aa47b42eda {
    width: 72% !important;
}

/* spectre */
#skin_462080d1-4035-2937-7c09-27aa2a5c27a7 {
    width: 77% !important;
}
/* sheriff */
#skin_e336c6b8-418d-9340-d77f-7a9e4cfe0702 {
    width: 58% !important;
}
.buttonMenu {
    display: flex;
    /* position: absolute; */
    /* left: 34%; */
    /* top: 6%; */
    column-gap: 3%;
}
.buttonMenu .menuItem {
    cursor: pointer;
    padding: 10px;
    margin: -2px 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}
.buttonMenu .menuItem:hover {
    color: #bf3d3d;
}

.buttonMenu .menuItem.selected {
    color: #bf3d3d;
}

/* Add a pseudo-element for the underline */
.buttonMenu .menuItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #bf3d3d;
    transition: width 0.3s ease, left 0.3s ease;
}

.buttonMenu .menuItem.selected::after {
    width: 100%; /* Underline width to match the text */
    left: 0;
}

.filterDrop {
    display: flex;
    /* justify-content: space-around; */
    position: relative;
    /* padding-top: 3%; */
    width: fit-content;
}

.filterDrop .filterItem {
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.filterDrop .filterItem:hover {
    color: #bf3d3d;
}

.filterDrop .filterItem.selected {
    color: #bf3d3d;
}

/* Add a pseudo-element for the underline */
.filterDrop .filterItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #bf3d3d;
    transition: width 0.3s ease, left 0.3s ease;
}

.filterDrop .filterItem.selected::after {
    width: 100%; /* Underline width to match the text */
    left: 0;
}


.content-tier-icon {
    width: 50%;
}

.totalCounter {
    position: relative;
    right: -49vw;
    top: 2vh;
    width: 32%;
}

.totalCounter img {
    width: 6%;
    position: absolute;
    left: -2vw;
}

.totalCounter p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: sans-serif;
    font-size: 23px;
}

.skinPrice {
    position: absolute;
    top: 2vh;
    /* display: flex; */
    right: 1vw;
    font-size: 14px;
}

.topBar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    justify-content: normal;
    padding-bottom: 0%;
    column-gap: 9.7%;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.midBar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    /* padding-bottom: 2%; */
    /* column-gap: 9.7%; */
}
/* Select */
.weapon-skin[data-contenttier="12683d76-48d7-84a3-4e09-6985794f0445"] {
    background: linear-gradient(to top, #4382AA, transparent);
}
.weapon-skin[data-contenttier="12683d76-48d7-84a3-4e09-6985794f0445"]:hover {
    box-shadow: 0 0 15px 5px rgba(67, 130, 170, 0.7); 
}
/* Premium  */
.weapon-skin[data-contenttier="60bca009-4182-7998-dee7-b8a2558dc369"] {
    background: linear-gradient(to top, #864763, transparent);
}
.weapon-skin[data-contenttier="60bca009-4182-7998-dee7-b8a2558dc369"]:hover {
    box-shadow: 0 0 15px 5px rgba(134, 71, 99, 0.7); 
}
/* exlusive */
.weapon-skin[data-contenttier="e046854e-406c-37f4-6607-19a9ba8426fc"] { 
    background: linear-gradient(to top, #B26947, transparent);
}
.weapon-skin[data-contenttier="e046854e-406c-37f4-6607-19a9ba8426fc"]:hover { 
    box-shadow: 0 0 15px 5px rgba(178, 105, 71, 0.7); 
}
/* deluxe */
.weapon-skin[data-contenttier="0cebb8be-46d7-c12a-d306-e9907bfc5a25"] { 
    background: linear-gradient(to top, #179682, transparent);
}
.weapon-skin[data-contenttier="0cebb8be-46d7-c12a-d306-e9907bfc5a25"]:hover { 
    box-shadow: 0 0 15px 5px rgba(23, 150, 130, 0.7); 
}

/* ultra */
.weapon-skin[data-contenttier="411e4a55-4e59-7757-41f0-86a53f101bb5"] { 
    background: linear-gradient(to top, #DABE59, transparent);
}
.weapon-skin[data-contenttier="411e4a55-4e59-7757-41f0-86a53f101bb5"]:hover { 
    box-shadow: 0 0 15px 5px rgba(218 , 190 , 89, 0.7); 
}

.skinPrice img {
    position: absolute;
    width: 47%;
    left: -1.5vw;
    top: 0.14vh;
}



.buddy-container{
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    background-color: #1B191A;
    aspect-ratio: 1;
}

.buddy-container img {
    /* width: 90%; */
    height: 72%;
    /* position: absolute; */
    bottom: 51%;
    padding-top: 8%;
    
}

.buddyName {
    position: absolute;
    bottom: 0%;
    left: 1%;
    font-size: 100%;
}

.spray-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    /* background-color: rgba(0, 2, 9, 0.5); */
    aspect-ratio: 1;
}

.spray-container img {
    width: 80%;
    height: 80%;
}

.sprayName {
    position: absolute;
    bottom: 0%;
    font-size: 90%;
}

.card-container {
    width: 94%;
    display: flex;
    justify-content: center;
    height: 96%;
    position: relative;
    /* background-color: rgba(0, 2, 9, 0.5); */
    aspect-ratio: 1;
}

.card-container img {
    width: 80%;
    height: 80%;
}

.cardName {
    position: absolute;
    bottom: 0%;
    font-size: 90%;
    white-space: nowrap;
}


.showPlayerCards {
    white-space: nowrap;
}