html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
}


.navbar ul{
    list-style-type: none;
    background-color: rgb(118, 118, 118);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
  }
  
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color: rgb(99, 98, 98);
  }
  .navbar li{
    float: left;
  }

  main {
    /* margin-top: 10vh; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Skin display styling */
.skinDisplay {
    width: 100%;
    height: 100%;
    background-color: #252525;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Search bar styling */
.searchBar {
    width: 24%;
    padding: 1rem;
    height: 0%;
    position: absolute;
}

.searchBar input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 20%;
    background-color: #ffffff1a;
}

.skinGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    gap: 1vw;
    width: 99%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-left: .5%;
    padding-bottom: 5%;
}
.weapon-skin {
    width: 100%; /* Ensure it takes the full width of the grid cell */
    aspect-ratio: 1.96; /* Ensures the div remains square */
    display: flex; /* Center the content */
    flex-direction: column; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a; /* Optional: Add a background color for clarity */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for a polished look */
    position: relative;
    transition: box-shadow 0.3s ease; /* Smooth transition for the box-shadow on hover */
}



.skinName {
    /* text-align: center; */
    font-size: 1vw;
    color: #fff;
    position: absolute;
    top: 15vh;
    left: .5vw;
    width: 100%;
    z-index: 2;
}
.weapon-skin img{
    max-width: 90%;
    width: auto;
    height: auto;
}


.skinGrid::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
/* ghost */
#skin_1baa85b4-4c70-1284-64bb-6481dfc3bb4e {
    max-height: 46%;
}
/* classic */
#skin_29a0cfab-485b-f5d5-779a-b59f85e204a8 {
    max-height: 56% !important;
}
/* frenzy */
#skin_44d4e95c-4157-0037-81b2-17841bf2e8e3 {
   width: 46%;
}
/* knife */
#skin_2f59173c-4bed-b6c3-2191-dea9b58be9c7 {
    height: 53% !important;
}
/* shorty */
#skin_42da8ccc-40d5-affc-beec-15aa47b42eda {
    width: 72% !important;
}

/* spectre */
#skin_462080d1-4035-2937-7c09-27aa2a5c27a7 {
    width: 77% !important;
}
/* sheriff */
#skin_e336c6b8-418d-9340-d77f-7a9e4cfe0702 {
    width: 58% !important;
}

.filterDrop {
    width: 15%;
    position: absolute;
    top: 8vh;
    left: 85vw;
}

.content-tier-icon {
    width: 50%;
}

.totalCounter {
    position: relative;
    right: -49vw;
    top: 2vh;
    width: 32%;
}

.totalCounter img {
    width: 6%;
    position: absolute;
    left: -2vw;
}

.totalCounter p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: sans-serif;
    font-size: 23px;
}

.skinPrice {
    position: absolute;
    top: 2vh;
    /* display: flex; */
    right: 1vw;
    font-size: 14px;
}

.topBar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-start;
}
/* Select */
.weapon-skin[data-contenttier="12683d76-48d7-84a3-4e09-6985794f0445"] {
    background: linear-gradient(to top, #4382AA, transparent);
}
.weapon-skin[data-contenttier="12683d76-48d7-84a3-4e09-6985794f0445"]:hover {
    box-shadow: 0 0 15px 5px rgba(67, 130, 170, 0.7); 
}
/* Premium  */
.weapon-skin[data-contenttier="60bca009-4182-7998-dee7-b8a2558dc369"] {
    background: linear-gradient(to top, #864763, transparent);
}
.weapon-skin[data-contenttier="60bca009-4182-7998-dee7-b8a2558dc369"]:hover {
    box-shadow: 0 0 15px 5px rgba(134, 71, 99, 0.7); 
}
/* exlusive */
.weapon-skin[data-contenttier="e046854e-406c-37f4-6607-19a9ba8426fc"] { 
    background: linear-gradient(to top, #B26947, transparent);
}
.weapon-skin[data-contenttier="e046854e-406c-37f4-6607-19a9ba8426fc"]:hover { 
    box-shadow: 0 0 15px 5px rgba(178, 105, 71, 0.7); 
}
/* deluxe */
.weapon-skin[data-contenttier="0cebb8be-46d7-c12a-d306-e9907bfc5a25"] { 
    background: linear-gradient(to top, #179682, transparent);
}
.weapon-skin[data-contenttier="0cebb8be-46d7-c12a-d306-e9907bfc5a25"]:hover { 
    box-shadow: 0 0 15px 5px rgba(23, 150, 130, 0.7); 
}

/* ultra */
.weapon-skin[data-contenttier="411e4a55-4e59-7757-41f0-86a53f101bb5"] { 
    background: linear-gradient(to top, #DABE59, transparent);
}
.weapon-skin[data-contenttier="411e4a55-4e59-7757-41f0-86a53f101bb5"]:hover { 
    box-shadow: 0 0 15px 5px rgba(218 , 190 , 89, 0.7); 
}

.skinPrice img {
    position: absolute;
    width: 47%;
    left: -1.5vw;
    top: 0.14vh;
}